<!DOCTYPE html>
<html lang="en">

<header>
	
	<meta charset="utf-8">
	<title> Cirriculum Vitae </title>

</header>


<body>	
	
	<h1 align="center" >  H.Hammad Mazhar </h1>

<br/>	
	
	<center>
		<img src="https://pbs.twimg.com/profile_images/544242378660261888/qkszv-ZT.jpeg" alt="Image is currently not present" style="width:300px;">
	</center>

<br/>	

	<center>
		<a href = "https://www.facebook.com/hammadm1"  target="_blank"> Visit my facebook profile  </a>
	</center>
	
<h2> Life Objective: </h2>
	
	<p>
		<ul>
			<li>	Objective of my life is to see every one happy and put my efforts in this noble deed. 	</li>
		</ul>	
	</p>

	<p>
		<ul>
			<li>	And to help the needy's and helpless (ofcourse Allah is the One and only helper and guider ) as His Deputy. </li>
		</ul>	
	</p>	

	<p>
		<ul>
			<li>	AS a profession i want to be sportsman a cricketer because this is the other good thing in which i am good at and can do tirelessly all the day along with programming.(of course i surely will not do as I would complete the project early (^_^) ). </li>
		</ul>	
	</p> 

<br>	

<h2> Matriculation/O Levels </h2> 

<p>
	<ul>
		<li>	
			New Creascent Education System 		(Computer,Chemistry,Maths,Physics)
		</li>	
	</ul>
</p>

<br>

<h2> Intermediate/A Levels </h2> 

<p><ul><li> Superior Group Of Colleges <a href="https://www.superior.edu.pk/AboutSuperior/" target="_blank"> <img src="logo.jpg" width="30px"/> </a>		 (Computer,Maths,Physics) </li></ul></p>

<br>

	<h2>
		MY Favourite Websites 
	</h2>

		<ol>
			<li>
				<a href="https://www.google.com.pk" target="_blank"> Google </a>
			</li>	
		
			<li>
				<a href="https://www.youtube.com" target="_blank"> Youtube </a>
			</li>
		
			<li>
				<a href="http://www.espncricinfo.com/" target="_blank"> Espncricinfo </a>
			</li>
		
			<li>
				<a href="https://www.facebook.com" target="_blank"> Facebook </a>
			</li>

			<li> 
				<a href="http://www.crictime.biz" target="_blank"> Crictime </a>
			</li>
		
			<li>
				<a href="https://www.tutorialspoint.com" target="_blank"> TutorialsPoint </a>
			</li>
		
			<li>
				<a href="https://www.thenewboston.com" target ="blank"> Thenewboston </a>
			</li>
		
			<li>
				<a href="https://www.soundcloud.com" target="_blank"> Soundcloud </a>
			</li>
		
			<li>
				<a href="https://www.fiverr.com" target="_blank"> Fiverr </a>
			</li>	

			<li>
				<a href="https://www.imdb.com" target="_blank"> Imdb </a>
			</li>
	
		</ol>

</body>
</html>